@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700&display=swap);

body {
  font-family: "Noto Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: #2398;
}

.container.darkContainer {
  background: #111;
}
